<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <!-- Generated grafts copied from the Vision install command. See graft/feed. -->
    <add key="graft" value="graft/feed" />
  </packageSources>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <clear />
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
    <packageSource key="graft">
      <package pattern="graft.nuget.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>